# Python bytecode & cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Virtual Environment
.venv/
venv/
ENV/

# Datasets and Large Binary Index Files
*.db
*.joblib
*.npy
*.npz
metadata/
images/

# Exceptions for pre-built indexes
!src/index/BeIR_scidocs/**
!src/index/BeIR_fiqa/**
!src/index/BeIR_quora/**


# Streamlit & local cache
.streamlit/
.cache/
logs/
